* {
  margin: 0;
  box-sizing: border-box;
}


.main {
  border: 3px solid black;
  margin: auto;
  width: fit-content;
  background-color: bisque;
  padding: 5px;
  margin-top: 10px;
}

body {
  background-image: url("https://cms.ar-racking.com/uploads/2020/06/2023-3.jpg");
}


.container {
  max-width: 350px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 4px;
}

.item-info {
  flex-grow: 1;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-description {
  color: #777;
  margin-top: 10px;
}

.item-category {
    color: black;
    margin-top: 10px;
}

.item-price {
  font-size: 16px;
  color: #27ae60;
  margin-top: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}



.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  flex: 1 0 300px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}