* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ececec;
}
#nav {
  width: 100%;
  height: 10vh;
  background-color: #9fd3c7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav h1 {
  padding-left: 1.5em;
}

a {
  text-decoration: none;
  color: #142d4c;
}

a:hover {
  color: #385170;
}

#item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

#item-list h1 {
  text-align: center;
  padding: 2%;
}

.itemhome{
  width: 100%;
  max-width: 900px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  background-color: white;
}

.itemhome img{
  width: 20%;
  height: 40%;
  min-width: 250px;
  min-height: 300px;
  border-radius: 25px;
}

.itemhome >.item-details {
  text-align: center;
  padding-right: 5%;
}

#edit-container{
  width: 100%;
}
#edit-form {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  width: fit-content;
}

#edit-form button {
  width: fit-content;
}

#edit-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.submit{
  margin: 1%;
}

.item{
  margin: 2.5%;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  min-height: 100%;

}

.item >.item-img{
  min-width: 600px;
  display: flex;
  justify-content: center;
  background-color: white;
  max-height: 550px;
  border-radius: 25px;

}

.item-img-edit{
  min-height: 300px;
  min-width: 300px;
  max-width: 45px;
  max-height: 450px;
  border-radius: 25px;
}

.item img{
  max-width: 600px;
  max-height: 600px;
  border-radius: 25px;
}

.item > .item-details{
  min-width: 800px;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
}


.item > .item-details > .name{
  text-wrap: wrap;
  max-width: 60ch;
  text-align: center;
}
.item > .item-details > .price, .item > .item-details > .category{
  text-align: left;
  font-size: larger;
  padding: 0;
}

.item > .item-details > .det{
  padding: 0;
  font-size: x-large;
  text-align: left;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.buttons > button{
  color: #9fd3c7;
  background-color: #142d4c;
  border: none;
  padding: 1%;
  min-width: 100px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover{
  background-color: #385170;
  transition: 0.7s;
}

.description{
  border-top: 1px solid;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  width: 100%;
  padding: 1%;
  margin-top: 1%;
}
.add, .item-edit {
  margin: 1em;
  display: inline;

}
.item-edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-form, #edit-form {
  padding: 30 100 30 100;
  margin: 30px 200px 30px 200px;
}

.add-label, .name-label {
  display: block;
  margin: 10px 0 10px 0;
  font-weight: bold;
  text-align: left;
  color: #142d4c;
}

.add-h4 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  color: #142d4c;
}

.add-button, .submit {
  height: 38px;
  width: 30%;
  padding: 0 10px;
  text-align: center;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.05rem;
  background: #9fd3c7;
  color: gray;
  border-radius: 4px;
  border: 0px solid gray;
  cursor: pointer;
}

.form-input {
  width: 100%;
  height: 35px;
  border: 2px solid #9fd3c7;
  border-radius: 7px;
  text-align: left;
  padding: 10px;
}

input:focus {
  border: 1px solid #142d4c;
  outline: 0;
}

.add-button-div {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 500px){
  * {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  #nav{
    height: 5vh;
    width: 100%;
    font-size: smaller;
  }
  #nav h1 {
    padding-left:0;
  }
  #item-list h1 {
    font-size:larger;
  }
  #item-list {
    padding: 0 7.5%;
  }

  .itemhome{
    width: 100%;
    max-width: 300px;
  }
  .itemhome img{
    min-width: 125px;
    min-height: 125px;
  }
  .item-details {
    text-align: center;
    padding: 2%;
  }
  .itemhome > .item-details > .name{
    font-size:medium;
  }

  .item{
    margin: 5% 2% 2% 0%;
    border: 1px solid black;
    display: block;
    min-height: 70%;
    padding: 1%;
  }



  .item  > .item-img > img{
    max-width: 200px;
    max-height: 300px;
  }

  .item > .item-img{
    min-width: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
  }
  .item > .item-details{
    min-width: 200px;
    padding: 2.5%;
    margin-bottom: 10%;
  }
  .description{
    margin-bottom: 10%;
  }

  .add-form, #edit-form {
    padding: 15 50 15 50;
    margin: 15px 25px 15px 25px;
  }

  .add-label, .name-label {
    display: block;
    margin: 5px 0 5px 0;
    font-weight: bold;
    text-align: left;
    color: #142d4c;
  }
  .add-h4{
    font-size:x-large;
  }
  .add-button{
    padding: 0 5px;
    width: fit-content;
  }
  .item-img-edit{
    min-width: 175px;
    min-height: 175px;
    border-radius: 25px;
  }
  #edit-buttons > .submit{
    font-size: small;
  }
  .search-bar{
    display: flex;
    align-items: center;
    min-width: 360px;
    justify-content: space-around;
    margin: 5% 0%;
  }
  .search-bar select{
    height: min-content;
    width: min-content;
  }
}

.search-bar {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2.5%;
}

.search-bar select {
  text-align: center;
}
.search-bar input {
  margin-left: 5px;
}
