* {
  margin: 0;
  /* box-sizing: border-box; */
  /* background-color: rgb(223, 223, 223); */
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #ececec;
}
#nav {
  width: 100%;
  height: 10vh;
  background-color:#9fd3c7;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#nav h1 {
  padding-left: 1.5em;
}

a{
  text-decoration: none;
  color:
  #142d4c;
}

a:hover{
  color: #385170;
}

#item-list{
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

#item-list h1{
  text-align: center;
  padding: 2%;
}

.item{
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  background-color: white;

}

.item img{
  width: 40%;
  height: 40%;
  border-radius: 25px;
}

.item-details{
  text-align: center;
  padding-right: 5%;
}


/* @media screen and (max-width: 500px){
} */
