* {
  margin: 0;
  box-sizing: border-box;
}


.main {
  border: 3px solid black;
  margin: auto;
  width: fit-content;
  background-color: bisque;
  padding: 5px;
  margin-top: 10px;
}

body {
  background-image: url("https://cms.ar-racking.com/uploads/2020/06/2023-3.jpg");
}