* {
  margin: 0;
  /* box-sizing: border-box; */
  /* background-color: rgb(223, 223, 223); */
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #ececec;
}
#nav {
  width: 100%;
  height: 10vh;
  background-color:#9fd3c7;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#nav h1 {
  padding-left: 1.5em;
}

a{
  text-decoration: none;
  color:
  #142d4c;
}

a:hover{
  color: #385170;
}

#item-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

#item-list h1{
  text-align: center;
  padding: 2%;
}

.itemhome{
  width: 100%;
  max-width: 900px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  background-color: white;
}

.itemhome img{
  width: 20%;
  height: 40%;
  min-width: 250px;
  min-height: 300px;
  border-radius: 25px;
}

.item-details{
  text-align: center;
  padding-right: 5%;
}


/* @media screen and (max-width: 500px){
} */



#edit-form {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.form-inputs {
  width: fit-content;
}

#name-input {
  width: 20%;
}

#edit-form textarea {
  width: 35%;
  min-height: fit-content;
  resize: none;
}

#edit-form button {
  width: fit-content;
}

#edit-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.item{
  border: 5px solid red;
  margin: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item .item-img{
  min-width: 600px;
  display: flex;
  justify-content: center;
  background-color: white;
  max-height: 550px;

}

.item img{
  max-width: 600px;
  max-height: 600px;
  border-radius: 25px;
}

.item > .item-details{
  border: 3px solid green;
  min-width: 800px;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
}


.item > .item-details > .name{
  text-wrap: wrap;
  text-align: center;
}
.item > .item-details > .price, .item > .item-details > .category{
  text-align: left;
  font-size: larger;
  padding: 0;
}

.item > .item-details > .det{
  border: 1px solid red;
  padding: 0;
  font-size: x-large;
  text-align: left;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.buttons > button{
  color: #9fd3c7;
  background-color: #142d4c;
  border: none;
  padding: 1%;
  min-width: 100px;
  font-size: 20px;
}

.buttons > button:hover{

}
