* {
  margin: 0;
  /* box-sizing: border-box; */
  /* background-color: rgb(223, 223, 223); */
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #ececec;
}
#nav {
  width: 100%;
  height: 10vh;
  background-color:#9fd3c7;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#nav h1 {
  padding-left: 1.5em;
}

a{
  text-decoration: none;
  color:
  #142d4c;
}

a:hover{
  color: #385170;
}

#item-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

#item-list h1{
  text-align: center;
  padding: 2%;
}

.item{
  width: 100%;
  max-width: 900px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  background-color: white;
}

.item img{
  width: 40%;
  height: 40%;
  border-radius: 25px;
}

.item-details{
  text-align: center;
  padding-right: 5%;
}


/* @media screen and (max-width: 500px){
} */



#edit-form {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#edit-form input {
  width: fit-content;
}

#edit-form textarea {
  width: 35%;
  min-height: fit-content;
  resize: none;
}

#edit-form button {
  width: fit-content;
}

#edit-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
