* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://cms.ar-racking.com/uploads/2020/06/2023-3.jpg");
  background-color: #f4f4f4;
}

.main {
  border: 3px solid black;
  margin: auto;
  width: fit-content;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.inputName::placeholder,
.inputDescription::placeholder,
.inputCategory::placeholder,
.inputPrice::placeholder {
  color: #aaa;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: translateY(-5px);
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 4px;
}

.item-info {
  flex-grow: 1;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-description {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.item-category {
  color: black;
  margin-top: 5px;
}

.item-price {
  font-size: 16px;
  color: #27ae60;
  margin-top: 5px;
}
