* {
  margin: 0;
  /* box-sizing: border-box; */
  /* background-color: rgb(223, 223, 223); */
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ececec;
}
#nav {
  width: 100%;
  height: 10vh;
  background-color: #9fd3c7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav h1 {
  padding-left: 1.5em;
}

a {
  text-decoration: none;
  color: #142d4c;
}

a:hover {
  color: #385170;
}

#item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

#item-list h1 {
  text-align: center;
  padding: 2%;
}

.item {
  width: 100%;
  max-width: 900px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  background-color: white;
}

.item img {
  width: 40%;
  height: 40%;
  border-radius: 25px;
}

.item-details {
  text-align: center;
  padding-right: 5%;
}

/* @media screen and (max-width: 500px){
} */

#edit-form {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.form-inputs {
  width: fit-content;
}

#name-input {
  width: 20%;
}

#edit-form textarea {
  width: 35%;
  min-height: fit-content;
  resize: none;
}

#edit-form button {
  width: fit-content;
}

#edit-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.add {
  margin: 1em;
  display: inline;
}

.add-form {
  padding: 30 100 30 100;
  margin: 30px 200px 30px 200px;
}

.add-label {
  display: block;
  margin: 10px 0 10px 0;
  font-weight: bold;
  text-align: left;
  color: #142d4c;
}

.add-h4 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  color: #142d4c;
}

.add-button {
  height: 38px;
  width: 30%;
  padding: 0 10px;
  text-align: center;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.05rem;
  background: #9fd3c7;
  color: gray;
  border-radius: 4px;
  border: 0px solid gray;
  cursor: pointer;
}

.form-input {
  width: 100%;
  height: 35px;
  border: 1px solid #9fd3c7;
  border-radius: 7px;
  text-align: left;
  padding: 10px;
}

input:focus {
  border: 1px solid #142d4c;
  outline: 0;
}

.add-button-div {
  display: flex;
  justify-content: center;
}
